labs/DataManager/Config/appsettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:conf-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ModelGenService">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DBconnetion" type="xs:string" />
              <xs:element name="FTP_path" type="xs:string" />
              <xs:element name="LogDBconnection" type="xs:string" />
              <xs:element name="Seconds" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>