labs/FileTransferService/appsettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:conf-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FTS-settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PathToSourceFTP" type="xs:string" />
			  <xs:element name="PathToDestinationFTP" type="xs:string" />
              <xs:element name="LoggerConnectionString" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>